[loggers]
keys=root

[handlers]
keys=fileHandler

[formatters]
keys=stringFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[handler_fileHandler]
class=handlers.RotatingFileHandler
args=('%(filename)s', 'a', 10000, 3)
formatter=stringFormatter
level=DEBUG

[formatter_stringFormatter]
format=%(asctime)s - %(levelname)s - %(message)s [%(name)s]
datefmt=%Y-%m-%d-%H%M%S