[Unit]
Description=ngrok tcp tunnel initialization
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/Downloads
User=pi
Type=idle
ExecStart=./ngrok tcp 22

[Install]
WantedBy=multi-user.target
