[loggers]
keys=root, transitionscore

[handlers]
keys=fileHandler, printHandler

[formatters]
keys=stringFormatter, printFormatter

[logger_root]
level=INFO
handlers=fileHandler, printHandler

[logger_transitionscore]
level=ERROR
handlers=fileHandler, printHandler
qualname=transitions.core
propagate=0

[handler_fileHandler]
class=FileHandler
args=('%(filename)s', 'a')
formatter=stringFormatter
level=%(fileHandlerLevel)s

[handler_printHandler]
class=StreamHandler
formatter=printFormatter
args=()
level=INFO

[formatter_stringFormatter]
format=%(asctime)s - %(levelname)s - %(message)s [%(name)s]
datefmt=%Y-%m-%d-%H%M%S

[formatter_printFormatter]
format=%(levelname)s: %(message)s [%(name)s]